:root {
  --light: #fffcf9;
  --dark: #151325;
  --red: #ef476f;
  --yellow: #ffd167;
  --green: #4cbd97;
  --purple: #8d51a0;
  --blue: #4ca0d8;
}

/* Text styles -------------- */
h1 {
  font-size: 200%;
  color: var(--green)
}

h2 {
  font-family: "Indie flower";
  font-size: 150%;
  color: var(--blue);
}

/* Header styles ------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 12px #00000061;
  padding: 45px 5% 30px;
}

.date-container {
  display: flex;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#today-is {
  color: var(--red);
  margin-right: 20px;
}

#date {
  font-family: "Indie flower"
}

/* General styles -------- */
body {
  font-family: 'courier prime';
  font-size: 18px;
  background-color: var(--dark);
  color: var(--light);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  color: var(--light);
  font-family: 'Indie Flower';
  font-size: 18px;
  line-height: 1.5;
  background-color: transparent;
  border: none;
}

.red {
 color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

.purple {
  color: var(--purple);
}

.blue {
  color: var(--blue);
}

#snippet-name {
  color: var(--blue);
  font-size: 26px;

}