:root {
  --light: #fffcf9;
  --dark: #151325;
  --red: #ef476f;
  --yellow: #ffd167;
  --green: #4cbd97;
  --purple: #8d51a0;
  --blue: #4ca0d8;
}

/* Text styles -------------- */
h1 {
  font-size: 200%;
  color: var(--green);
  font-family: 'courier prime';
  line-height: .5;

}

h2 {
  font-family: "Indie flower";
  font-size: 160%;
  color: var(--blue);
}

/* Header styles ------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 12px #00000061;
  padding: 30px 5%;
  margin-bottom: 40px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* General styles -------- */
body {
  font-family: 'Indie flower';
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--dark);
  color: var(--light);
  caret-color: var(--red);
  caret: 2px;
}

main {
  margin: 0 30%;
}

/* note styles ---------- */
.note {
  margin: 30px 0;
}

.red, .yellow, .green, .blue, .purple {
  display: inline;
}

input, .margin {
  margin-left: 30px;
}

.red::before {
  content: attr(placeholder);
  color: var(--red);
  font-family: 'courier prime';
}

.yellow::before {
  content: attr(placeholder);
  color: var(--yellow);
  font-family: 'courier prime';
}

.green::before {
  content: attr(placeholder);
  color: var(--green);
  font-family: 'courier prime';
}

.blue::before {
  content: attr(placeholder);
  color: var(--blue);
  font-family: 'courier prime';
}

.purple::before {
  content: attr(placeholder);
  color: var(--purple);
  font-family: 'courier prime';
}

/* bottom bar styles-------- */
.button {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 2px solid var(--light);
}

.bar {
  position: fixed;
  bottom: 0;
  background-color: var(--dark);
  box-shadow: 0 0 12px #00000061;
  width: 100%;
  padding: 20px 5%;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
}

.side-buttons {
  display: flex;
}

.button-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-label {
  /* display: none; */
  /* position: absolute; */
  text-align: center;
}

.button:hover {
  border-color: var(--dark)
}

#comment-button {
  background-color: var(--red);
}
#function-button {
  background-color: var(--yellow);
}
#for-button {
  background-color: var(--green);
}
#while-button {
  background-color: var(--blue);
}
#if-button {
  background-color: var(--purple);
}